  :host {
    --darkest-blue: #1a237e;
  }
    .centered-title {
      text-align: center;
      font-weight: bold;
    }
    .cv-profile-img {
    float: right;
  }
    .name {
      margin-top:10px;
      margin-bottom: 0;
      font-size: 1.75em;
      text-transform: lowercase;
      color: var(--darkest-blue);
    }
